/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
header{
    text-align: center;
    background-color: whitesmoke;
    padding: 1rem;
}
h1{
    color: blue;
}
.card-header{
    background-color: wheat;
}
.card-footer{
    background-color: wheat;
}

body{
    background-color: darkgrey;
}